<h1>id: <%= @word.id %> の単語ページ</h1>

<p><%= @word.content %></p>

<%= link_to '一覧に戻る', words_path %>
<%= link_to 'この単語を編集する', edit_word_path(@word) %>
<%= link_to 'この単語を削除する', @word, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
